In [1]:
import pandas as pd

In [2]:
dd1 = {'Apples':[30], 'Bananas':[21]}

In [3]:
#Dataframe is a table
DataFrame = pd.DataFrame(data = dd1)

In [4]:
DataFrame

   Apples  Bananas
0      30       21

In [5]:
dd1 = {'Apples':[35, 41], 'Bananas':[21, 34]}
DataFrame = pd.DataFrame(data = dd1, index = ['2017 Sales', '2018 Sales'])

In [6]:
DataFrame

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [9]:
#Series is a Pandas list
Series = pd.Series(['4 cups', '1 cup', '2 large', '1 can'], index = ['Flour', 'Milk', 'Eggs', 'Spam'], name = 'Dinner')

In [11]:
Series

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [ ]:
#Reading CSV
csvtodf = pd.read_csv("../input/wine-reviews/winemag-data_first150k.csv", index_col = 0)

In [ ]:
#Reading Excel file sheet wise
xlstodf = pd.read_excel("../input/publicassistance/xls_files_all/WICAgencies2014ytd.xls", sheet_name='Pregnant Women Participating')

In [13]:
poultry = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])

In [14]:
poultry.to_csv("poultry.csv")

In [15]:
#Reading data from sqlite3 to dataframe
import sqlite3
conn = sqlite3.connect("../input/188-million-us-wildfires/FPA_FOD_20170508.sqlite")
sqltodf = pd.read_sql_query("SELECT * FROM artists", conn)

In [3]:
import pandas as pd
import seaborn as sns

In [10]:
rev = pd.read_csv("C:/Users/Kaustubh Chaudhuri/Documents/Datasets/wine-reviews/winemag-data_first150k.csv", index_col=0)

In [11]:
rev.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [12]:
rev.describe()

              points          price
count  150930.000000  137235.000000
mean       87.888418      33.131482
std         3.222392      36.322536
min        80.000000       4.000000
25%        86.000000      16.000000
50%        88.000000      24.000000
75%        90.000000      40.000000
max       100.000000    2300.000000