In [1]:
import pandas as pd

In [2]:
dd1 = {'Apples':[30], 'Bananas':[21]}

In [3]:
#Dataframe is a table
DataFrame = pd.DataFrame(data = dd1)

In [4]:
DataFrame

   Apples  Bananas
0      30       21

In [5]:
dd1 = {'Apples':[35, 41], 'Bananas':[21, 34]}
DataFrame = pd.DataFrame(data = dd1, index = ['2017 Sales', '2018 Sales'])

In [6]:
DataFrame

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [9]:
#Series is a Pandas list
Series = pd.Series(['4 cups', '1 cup', '2 large', '1 can'], index = ['Flour', 'Milk', 'Eggs', 'Spam'], name = 'Dinner')

In [11]:
Series

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [ ]:
#Reading CSV
csvtodf = pd.read_csv("../input/wine-reviews/winemag-data_first150k.csv", index_col = 0)

In [ ]:
#Reading Excel file sheet wise
xlstodf = pd.read_excel("../input/publicassistance/xls_files_all/WICAgencies2014ytd.xls", sheet_name='Pregnant Women Participating')

In [13]:
poultry = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])

In [14]:
poultry.to_csv("poultry.csv")

In [15]:
#Reading data from sqlite3 to dataframe
import sqlite3
conn = sqlite3.connect("../input/188-million-us-wildfires/FPA_FOD_20170508.sqlite")
sqltodf = pd.read_sql_query("SELECT * FROM artists", conn)