In [1]:
import pandas as pd
import numpy as np

In [2]:
path = "housing.csv"

In [3]:
data = pd.read_csv(path)

In [5]:
data.head()

      RM  LSTAT  PTRATIO      MEDV
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0
4  7.147   5.33     18.7  760200.0

In [6]:
data.describe()

               RM       LSTAT     PTRATIO          MEDV
count  489.000000  489.000000  489.000000  4.890000e+02
mean     6.240288   12.939632   18.516564  4.543429e+05
std      0.643650    7.081990    2.111268  1.653403e+05
min      3.561000    1.980000   12.600000  1.050000e+05
25%      5.880000    7.370000   17.400000  3.507000e+05
50%      6.185000   11.690000   19.100000  4.389000e+05
75%      6.575000   17.120000   20.200000  5.187000e+05
max      8.398000   37.970000   22.000000  1.024800e+06

In [8]:
data.columns

Index(['RM', 'LSTAT', 'PTRATIO', 'MEDV'], dtype='object')

In [12]:
Y = data.MEDV

In [13]:
Y.head()

0    504000.0
1    453600.0
2    728700.0
3    701400.0
4    760200.0
Name: MEDV, dtype: float64

In [15]:
X = data[['RM', 'LSTAT', 'PTRATIO']]

In [16]:
X.head()

      RM  LSTAT  PTRATIO
0  6.575   4.98     15.3
1  6.421   9.14     17.8
2  7.185   4.03     17.8
3  6.998   2.94     18.7
4  7.147   5.33     18.7

In [17]:
from sklearn.tree import DecisionTreeRegressor

In [18]:
model = DecisionTreeRegressor()

In [19]:
X.describe()

               RM       LSTAT     PTRATIO
count  489.000000  489.000000  489.000000
mean     6.240288   12.939632   18.516564
std      0.643650    7.081990    2.111268
min      3.561000    1.980000   12.600000
25%      5.880000    7.370000   17.400000
50%      6.185000   11.690000   19.100000
75%      6.575000   17.120000   20.200000
max      8.398000   37.970000   22.000000

In [23]:
X.iloc[0:20]

       RM  LSTAT  PTRATIO
0   6.575   4.98     15.3
1   6.421   9.14     17.8
2   7.185   4.03     17.8
3   6.998   2.94     18.7
4   7.147   5.33     18.7
5   6.430   5.21     18.7
6   6.012  12.43     15.2
7   6.172  19.15     15.2
8   5.631  29.93     15.2
9   6.004  17.10     15.2
10  6.377  20.45     15.2
11  6.009  13.27     15.2
12  5.889  15.71     15.2
13  5.949   8.26     21.0
14  6.096  10.26     21.0
15  5.834   8.47     21.0
16  5.935   6.58     21.0
17  5.990  14.67     21.0
18  5.456  11.69     21.0
19  5.727  11.28     21.0

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [27]:
model.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [34]:
prediction_test = model.predict(X_test)

In [37]:
prediction_train = model.predict(X_train)

In [38]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import accuracy_score

In [43]:
print(mean_absolute_error(y_test, prediction))
print(accuracy_score(y_test, prediction_test))

60321.42857142857
0.0

In [44]:
print(mean_absolute_error(y_train, prediction_train))
print(accuracy_score(y_train, prediction_train))

0.0
1.0

In [42]:
accuracy_score(y_train, prediction_train)

1.0

In [63]:
def get_mae(max_leaf_nodes, X_train, X_test, y_train, y_test):
    
    cus_model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    
    cus_model.fit(X_train, y_train)
    
    preds = cus_model.predict(X_test)
    
    mae = mean_absolute_error(y_test, preds)
    
    #acc = accuracy_score(y_test, preds)
    
    return(mae)

In [76]:
final_mae = -1
ln = 0

for max_leaf_nodes in range(5,5000,5):
    my_mae = get_mae(max_leaf_nodes, X_train, X_test, y_train, y_test)
    
    if final_mae is -1:
        final_mae = my_mae
        
    if final_mae > my_mae:
        final_mae = my_mae
        ln = max_leaf_nodes
        
print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(ln, final_mae))

Max leaf nodes: 15  		 Mean Absolute Error:  45847