In [1]:
import pandas as pd

In [2]:
dd1 = {'Apples':[30], 'Bananas':[21]}

In [3]:
#Dataframe is a table
DataFrame = pd.DataFrame(data = dd1)

In [4]:
DataFrame

   Apples  Bananas
0      30       21

In [5]:
dd1 = {'Apples':[35, 41], 'Bananas':[21, 34]}
DataFrame = pd.DataFrame(data = dd1, index = ['2017 Sales', '2018 Sales'])

In [6]:
DataFrame

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [9]:
#Series is a Pandas list
Series = pd.Series(['4 cups', '1 cup', '2 large', '1 can'], index = ['Flour', 'Milk', 'Eggs', 'Spam'], name = 'Dinner')

In [11]:
Series

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [ ]:
#Reading CSV
csvtodf = pd.read_csv("../input/wine-reviews/winemag-data_first150k.csv", index_col = 0)

In [ ]:
#Reading Excel file sheet wise
xlstodf = pd.read_excel("../input/publicassistance/xls_files_all/WICAgencies2014ytd.xls", sheet_name='Pregnant Women Participating')

In [13]:
poultry = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])

In [14]:
poultry.to_csv("poultry.csv")

In [15]:
#Reading data from sqlite3 to dataframe
import sqlite3
conn = sqlite3.connect("../input/188-million-us-wildfires/FPA_FOD_20170508.sqlite")
sqltodf = pd.read_sql_query("SELECT * FROM artists", conn)

In [3]:
import pandas as pd
import seaborn as sns

In [10]:
rev = pd.read_csv("C:/Users/Kaustubh Chaudhuri/Documents/Datasets/wine-reviews/winemag-data_first150k.csv", index_col=0)

In [11]:
rev.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [12]:
rev.describe()

              points          price
count  150930.000000  137235.000000
mean       87.888418      33.131482
std         3.222392      36.322536
min        80.000000       4.000000
25%        86.000000      16.000000
50%        88.000000      24.000000
75%        90.000000      40.000000
max       100.000000    2300.000000

In [13]:
rev.description

0         This tremendous 100% varietal wine hails from ...
1         Ripe aromas of fig, blackberry and cassis are ...
2         Mac Watson honors the memory of a wine once ma...
3         This spent 20 months in 30% new French oak, an...
4         This is the top wine from La Bégude, named aft...
5         Deep, dense and pure from the opening bell, th...
6         Slightly gritty black-fruit aromas include a s...
7         Lush cedary black-fruit aromas are luxe and of...
8         This re-named vineyard was formerly bottled as...
9         The producer sources from two blocks of the vi...
10        Elegance, complexity and structure come togeth...
11        From 18-year-old vines, this supple well-balan...
12        A standout even in this terrific lineup of 201...
13        This wine is in peak condition. The tannins an...
14        With its sophisticated mix of mineral, acid an...
15        First made in 2006, this succulent luscious Ch...
16        This blockbuster, powerhouse of a wine suggest...
17        Nicely oaked blackberry, licorice, vanilla and...
18        Coming from a seven-acre vineyard named after ...
19        This fresh and lively medium-bodied wine is be...
20        Heitz has made this stellar rosé from the rare...
21        Alluring, complex and powerful aromas of grill...
22        Tarry blackberry and cheesy oak aromas are app...
23        The apogee of this ambitious winery's white wi...
24        San Jose-based producer Adam Comartin heads 1,...
25        Yields were down in 2015, but intensity is up,...
26        Bergström has made a Shea designate since 2003...
27        Focused and dense, this intense wine captures ...
28        Cranberry, baked rhubarb, anise and crushed sl...
29        This standout Rocks District wine brings earth...
                                ...
150900    Aromas of freshly cut lumber, complete with so...
150901    Lavishly oaked, the fruit here struggles to ma...
150902    This medium weight Chardonnay offered aromas o...
150903    Very light berry and mint aromas open this aus...
150904    A lot of Chilean Cabernets seem to have a dist...
150905    There's not much point in making a reserve-sty...
150906    This lovely wine, a Monopole, is already showi...
150907    Rion holds back on the new oak, letting the pu...
150908    Another premier cru from Michel Gros, this one...
150909    This is a lovely, fragrant Burgundy, with a sm...
150910    Scents of graham cracker and malted milk choco...
150911    This needs a good bit of breathing time, then ...
150912    The nose is dominated by the attractive scents...
150913    Inky and rustic, yet in a refined manner. This...
150914    Old-gold in color, and thick and syrupy. The a...
150915    Decades ago, Beringer’s then-winemaker Myron N...
150916    An impressive wine that presents a full bouque...
150917    Light and elegant, this spicy, lively wine is ...
150918    Jacquart makes a full-bodied, ripe style of Ch...
150919    This classy example opens with a very floral n...
150920    Rich and mature aromas of smoke, earth and her...
150921    Shows some older notes: a bouquet of toasted w...
150922    Made by 30-ish Roberta Borghese high above Man...
150923    Rich and toasty, with tiny bubbles. The bouque...
150924    Really fine for a low-acid vintage, there's an...
150925    Many people feel Fiano represents southern Ita...
150926    Offers an intriguing nose with ginger, lime an...
150927    This classic example comes from a cru vineyard...
150928    A perfect salmon shade, with scents of peaches...
150929    More Pinot Grigios should taste like this. A r...
Name: description, Length: 150930, dtype: object

In [14]:
rev.description[0]

'This tremendous 100% varietal wine hails from Oakville and was aged over three years in oak. Juicy red-cherry fruit and a compelling hint of caramel greet the palate, framed by elegant, fine tannins and a subtle minty tone in the background. Balanced and rewarding from start to finish, it has years ahead of it to develop further nuance. Enjoy 2022–2030.'