In [1]:
import pandas as pd

In [2]:
dd1 = {'Apples':[30], 'Bananas':[21]}

In [3]:
DataFrame = pd.DataFrame(data = dd1)

In [4]:
DataFrame

   Apples  Bananas
0      30       21

In [5]:
dd1 = {'Apples':[35, 41], 'Bananas':[21, 34]}
DataFrame = pd.DataFrame(data = dd1, index = ['2017 Sales', '2018 Sales'])

In [6]:
DataFrame

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34